<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
        margin: 0px;

    }
.navbar-brand{
  font-size: 20px;
  font-family: sans-serif;

}
.col-lg-6{
  padding-left: 20%;
}
.jumbotron{
  margin-bottom: 0px;
}

</style>

</head>
<body>
    
   {% include "navbar.html" %}
     <div class="p-6">
        <h1 class="text-3xl font-extrabold"> Details</h1>
        <ui>
        <li>Name:  {{name}}</li>
        <li>Father:{{father}}</li>
        <li>Email:  {{email}}</li>
        <li>Phone:  {{phone}}</li>
        <li>UserName: {{username}}</li>
        <li>Branch: {{branch}}</li>
        <li>College: {{college}}</li>
        <li>Sem:{{sem}}</li>
        </ui>
    </div>
  
</body>
  {% include "footer.html" %}
</html>